/* Contact Form*/

// .contactForm {
//     display: flex;
//     flex-direction: column;
//     margin-left: 35px;
// }

/* Blog Comment Form */
// .commentsForm
form {
    display: flex;
    flex-direction: column;
}

.nameEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

input {
        width: 49%;
    }

// textarea {
//     width: 100%;
// }


// input[type="text"] {
// width: calc(50% - 5px);
// margin-right: 5px;
// }
// input[type="email"] {
// width: calc(50% - 5px);
// margin-left: 5px;
// }
/* Blog Comment Form */

/* ALL form input styling */
input, textarea {
    font-family: $bodyFont;
    border: none;
    margin-bottom: 20px;
    padding: 15px 0 15px 15px; 
    &::placeholder {
        color: $textColorPrimary;
        font-size: 1rem;
        opacity: 1;
    }
    &:focus {
        outline: none;
        border-bottom: 2px solid $tertiary;
    }
}

textarea {
    resize: none;
}