header {
    background-color: $primary;
    min-height: 100vh;
    width: 100%;
}// look at the nesting here and update
    .headerContent {
        display: flex;
        .imgContainer {
            width: 40%;
            position: relative; //look at changing this to position absolute to
            top: 50px;
        }
        .imgContainer img {
            max-width: 100%;
            width: 100%;
            box-shadow: 15px 15px white;
        }
        .headerText {
            width: 60%;
            display: flex;
            align-items: center;
            .headerTextContainer {
                margin-left: 100px;
                position: relative;
            }
            .headerTextContainer img {
                position: absolute;
                top: -95px;
                right: -50px;
            }
        }
    }


/* Contact Page Header */


/* Blog Page Header */

.blog {
    .imgContainer {
        background-image: url(./assets/blog-image-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        // width: 100%;
        min-height: 100vh;
    }
}