@media (max-width: 1250px) {    
    .main h1 {
        font-size: 7rem;
    }
    
    .headerContent .headerText .headerTextContainer img {
        top: -80px;
    }

    p {
        font-size: 0.9rem;
    }

    .pageAreas .pageAreaContainer {
        padding: 75px 0 60px 0;
        li {
            padding-right: 25px;
        }
    }

    .travel {
        margin-top: 80px;
    }

/*CONTACT PAGE*/
    .contactPage .headerContent {
        top: 375px;
    }

    /* BLOG PAGE */


}

@media (max-width: 1100px) {
    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
    
    .headerContent .headerText .headerTextContainer {
            margin-left: 60px;
        }  
        
}
    
@media (max-width: 1050px) {
    .main h1 {
        font-size: 6rem;
    }
        
    .headerContent .headerText .headerTextContainer img {
        top: -75px;
    }
}

@media (max-width: 1000px) {
.headerContent {
    flex-direction: column-reverse;
    align-items: center;
    .headerText {
        width: 65%;
    }
}

.main h1 {
    font-size: 7rem;
    margin-top: 40px;
    //maybe add margin-left: -20px; to center more
}

.headerContent .imgContainer {
    width: 50%;
}

.headerContent .headerText .headerTextContainer img {
    top: -45px;
}

.headerContent .headerText .headerTextContainer {
    margin: 60px;
}

.aboutHarper {
    justify-content: center;
    text-align: center;
    .textContainer {
        width: 80%;
        margin: 90px 0;
        padding: 53px;
    }
}
    //potential option for header image
// .headerContent .imgContainer {
//     width: 30%;
//     position: absolute;
//     top: 600px;
//     margin-left: 40px;
// }
    
    
    .pageAreaContainer {
        flex-direction: column;
        align-items: center;
        li {
            width: 80%;
        }
    }

/* TRAVEL SECTION */

.travel .contentContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
    .travel .contentContainer .imgContainer {
        width: 65%;
    }
        
    .travel .contentContainer .imgContainer img {
        bottom: 40px;
        position: relative; //could be the issue
    }


    .travel .contentContainer .textContainer {
        width: 80%;
        padding-top: 40px;
        // padding-top: 200px;
    }

    /* FAVOURITES SECTION */

    .favourites .contentContainer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: right;
        .imgContainer img {
            position: relative;
            top: -50px;
            // position: static;
            //do i need this?
        }
    }
    
    .favourites .contentContainer .imgContainer {
        width: 65%;
    }
    .favourites .contentContainer .textContainer {
        width: 80%;
        padding-top: 40px;
        // padding-top: 90px;
    }

/* HARPERS JOURNEY SECTION */

    .harpersJourney {
        padding: 75px 0;
    }
    .harpersJourney .contentContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .harpersJourney .textContainer {
        width: 80%;
        margin-top: 60px;
        margin-left: 0;
    }

    /* CONTACT PAGE */
    .contactPage {
        min-height: 40vh;
        .headerContent{
            top: 285px;
            }
        }
    .contactSectionMain {
        flex-direction: column;
        .contactInfo {
            margin-bottom: 30px;
        }
    }

    /* BLOG PAGE */
    .blogSectionContent {
        flex-direction: column-reverse;
    }

    .blogMain .sideBar {
        margin-top: 30px;
    }
    // .sideBar {
    //     display: flex;
    //     margin-top: 40px;
    // }

    .aboutHarperBlog {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .blogMain .sideBar .aboutHarperBlog .imgContainer {
        margin-right: 20px;
    }

    .blogMain .sideBar .recentPosts {
        margin-left: 20px;
    }


} //media end



@media (max-width: 800px) {
    /* all of our styles for TABLET devices will go within this breakpoint */
    .main h1 {
        font-size: 5.5rem;
    }
    
    .headerContent .headerText .headerTextContainer {
        margin: 60px 60px 60px 20px;
    }

    .headerContent .headerText .headerTextContainer img {
        top: -30px;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    .pageAreas .pageAreaContainer {
        padding: 60px 0 30px 0;
    }

    button {
        font-size: 0.9rem;
        line-height: 25px;
        padding: 10px 35px;
    }

    .aboutHarperBlog {
        flex-direction: column;
    }

} //media end

@media (max-width: 650px) {

    .mainMenu ul {
        display: none;
    }

    .mobileNav {
        display: block;
    }
    
    .headerContent .headerText .headerTextContainer {
        margin: 60px 60px 60px 0px;
    }
    
    .headerContent .headerText .headerTextContainer img {
        top: -20px;
        width: 40%;
        right: -40px;
    }
    
    .pageAreas .textContainer h3 {
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 32px;
    }

    .pageAreas .imgContainer {
        height: 30vh;
    }

    .harpersJourney {
        padding: 45px 0;
    }
    .harpersJourney .imgContainer {
        width: 45%;
    }

    .imageGallery .mobileHidden {
        display: none;
    }
    
    .imageGallery ul li {
        width: 48%;
    }

    .socialMedia ul li {
        margin: 0 0 40px 0;
        width: calc(50% - 20px);
    }

    /* CONTACT PAGE */

    .blog h1, .contactPage h1 {
        font-size: 4rem;
    }

    .contactSectionMain .contactInfo {
        width: 85%;
        margin-left: 55px;
    }

}

@media (max-width: 550px) {
    .main h1 {
        font-size: 5rem;
    }

    .headerContent .headerText .headerTextContainer img {
        top: 4px;
        width: 30%;
        right: -25px;
    }

    .headerContent .headerText .headerTextContainer {
        margin: 60px 0px;
    }

    .aboutHarperBlog .imgContainer img {
        max-width: 100%;
    }

}

@media (max-width: 500px) {
   /* all of our styles for MOBILE devices will go within this breakpoint */

    .main{
        min-height: 40vh;
        h1 {
        font-size: 4rem;
        }   
    } 

    .headerContent .headerText .headerTextContainer img {
        top: 26px;
        width: 25%;
        right: -18px;
    }

    .headerContent .imgContainer img {
        display: none;
    }

    .aboutHarper .textContainer{
        padding: 0;
    }

    .pageAreas .pageAreaContainer li {
        padding-right: 0;
    }

    .travel .contentContainer .textContainer {
        padding-top: 0;
    }

    .travel .contentContainer .imgContainer img {
        box-shadow: 15px 15px $secondary;
    }

    .favourites .contentContainer .imgContainer img {
        box-shadow: 15px 15px #b9dde7;
    }

    /* CONTACT PAGE */

    .contactPage h1 {
        font-size: 3rem;
    }

    .contactSectionMain .contactInfo {
        width: 60%;
        margin-left: 85px;
    }

    .contactForm {
        margin-left: 10px;
    }

    .nameEmail {
        display: block;
        width: 100%;
    }

    input {
        width: 100%;
    }

    .aboutHarperBlog .imgContainer img {
        display: none;
    }

    .sideBar ul {
        font-size: 0.8rem;
    }

    .blogComments .maggieComment,
    .blogComments .daisyComment {
        flex-direction: column;
    }

    .blog {
        min-height: 25vh;
        .headerContent {
            top: 155px;
        }
    }
}//media end

@media (max-width: 380px) {
    .main h1 {
    font-size: 3rem;
    }
    
    .headerContent .headerText .headerTextContainer img {
        display: none;
    }

    p {
        font-size: 0.8rem;
        line-height: 30px;
    }

    /* CONTACT PAGE */

    .contactPage h1 {
        font-size: 2rem;
    }
    .contactPage {
        min-height: 25vh;
        .headerContent {
            top: 130px;
        }
    }

    .contactSectionMain .contactInfo {
        width: 75%;
        margin-left: 45px;
    }


}