@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  site fonts*/
/* site colours*/
html {
  font-size: 125%;
}

/*Typography*/
body {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  line-height: 32px;
  letter-spacing: 0px;
}

h1, h2, h3, h4, .mainMenu {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #171717;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-size: 8rem;
  line-height: 92px;
}

.blog h1,
.contactPage h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.1rem;
  margin-bottom: 34px;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 32px;
}

h4 {
  font-size: 1.2rem;
}

.mainMenu {
  line-height: 29px;
  letter-spacing: 1px;
}

p {
  margin: 0 0 35px 0;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #f38d8d;
  color: #171717;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  padding: 16px 45px;
  letter-spacing: 1px;
  border: none;
}

.mainMenu {
  background-color: #b9dde7;
  padding: 37px 0;
  width: 100%;
}
.mainMenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}
.mainMenu li {
  padding: 0 25px;
}
.mainMenu a {
  color: #171717;
  text-decoration: none;
}
.mainMenu a:hover, .mainMenu a:focus {
  color: #f6f6f6;
}

.mainMenu .harper {
  font-size: 1.75rem;
}

/* Home Page Header */
.main {
  background-color: #b9dde7;
  min-height: 50vh;
  width: 100%;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headerContent .imgContainer {
  width: 40%;
  position: relative;
  top: 50px;
}
.headerContent .imgContainer img {
  max-width: 100%;
  width: 100%;
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
}
.headerContent .headerText {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerContent .headerText .headerTextContainer {
  margin-left: 100px;
  position: relative;
}
.headerContent .headerText .headerTextContainer img {
  position: absolute;
  top: -95px;
  right: -50px;
}

/* Contact Page Header */
.contactPage {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}
.contactPage .headerContent {
  position: relative;
  top: 405px;
}

/* Blog Page Header */
.blog {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}
.blog .headerContent {
  position: relative;
  top: 402px;
}

/* .aboutHarper */
.aboutHarper {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutHarper .textContainer {
  width: 50%;
  margin: 115px 0;
}

/* .pageAreas */
.pageAreas {
  background-color: #f6f6f6;
}
.pageAreas .imgContainer {
  background-image: url(../assets/home-image-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.pageAreaContainer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 95px 0 100px 0;
}
.pageAreaContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 20px);
  margin: 10px;
}

.pageAreas .textContainer h3 {
  margin-bottom: 35px;
}

.areaCopy {
  margin-bottom: 58px;
}

.iconContainer {
  margin-right: 25px;
}
.iconContainer i {
  text-align: center;
  padding: 15px;
  background-color: #b9dde7;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
}

/* .travel */
.travel {
  margin-bottom: 75px;
}

.travel .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.travel .contentContainer .imgContainer {
  width: 50%;
  position: relative;
  bottom: 45px;
}
.travel .contentContainer .imgContainer img {
  max-width: 100%;
  -webkit-box-shadow: 15px 15px #68b0c1, -200px 15px #68b0c1;
          box-shadow: 15px 15px #68b0c1, -200px 15px #68b0c1;
}
.travel .contentContainer .textContainer {
  width: calc(50% - 62px);
  margin-left: 62px;
}

/* .favourites */
.favourites {
  margin-bottom: 75px;
}

.favourites .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.favourites .contentContainer .imgContainer {
  width: 50%;
  position: relative;
  top: 45px;
}
.favourites .contentContainer .imgContainer img {
  max-width: 100%;
  -webkit-box-shadow: 15px 15px #b9dde7, 200px 15px #b9dde7;
          box-shadow: 15px 15px #b9dde7, 200px 15px #b9dde7;
}
.favourites .contentContainer .textContainer {
  width: calc(50% - 62px);
  margin-right: 62px;
}

/* .harpersJourney */
.harpersJourney {
  background-color: #f6f6f6;
}
.harpersJourney .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.harpersJourney .imgContainer {
  width: 30%;
}
.harpersJourney .imgContainer img {
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
  max-width: 100%;
}

.harpersJourney .textContainer {
  width: calc(70% - 60px);
  margin-left: 60px;
}

/* .imageGallery Section */
.imageGallery {
  padding: 60px 0;
  margin: 0;
}
.imageGallery .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.imageGallery .imgContainer img {
  max-width: 100%;
}

/* Footer */
footer {
  background-color: #171717;
}
footer p {
  text-align: center;
  color: #f6f6f6;
  margin-bottom: 0;
  padding: 22px 0;
}

/* CONTACT PAGE */
.contact {
  background-color: #f6f6f6;
}

.contactSectionMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 95px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contactSectionMain .contactInfo {
  background-color: white;
  width: 45%;
  padding: 35px;
}
.contactSectionMain .contactInfo .textContainer p {
  margin-bottom: 0;
}
.contactSectionMain .contactInfo .textContainer a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #171717;
  letter-spacing: 1px;
}
.contactSectionMain .contactInfo .textContainer a:hover, .contactSectionMain .contactInfo .textContainer a:focus {
  color: #227284;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin-bottom: 15px;
}

.socialIcons a {
  color: #227284;
  text-decoration: none;
}
.socialIcons a:hover, .socialIcons a:focus {
  color: #171717;
}

.contactForm {
  width: calc(100% - 20px);
  margin-left: 20px;
}

/* BLOG PAGE */
.blogMain {
  background-color: #f6f6f6;
}
.blogMain .sideBar {
  margin-right: 17px;
}
.blogMain .sideBar .aboutHarperBlog {
  padding: 25px;
  margin-bottom: 20px;
}
.blogMain .sideBar .aboutHarperBlog .imgContainer {
  margin-bottom: 10px;
}
.blogMain .sideBar .recentPosts {
  padding: 25px;
}
.blogMain .blogSection {
  margin-left: 17px;
}

.aboutHarperBlog,
.recentPosts,
.blogContent {
  background-color: white;
}

.recentPosts ul {
  margin-left: 15px;
}
.recentPosts li {
  list-style-position: inside;
}
.recentPosts li a {
  text-decoration: none;
  color: #171717;
}
.recentPosts li a:hover, .recentPosts li a:focus {
  color: #68b0c1;
}

.blogSectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 95px 0;
}

.blogContent {
  padding: 21px 40px 60px 40px;
  margin-bottom: 30px;
  border-bottom: 5px solid #227284;
}
.blogContent p {
  margin-bottom: 15px;
}

.blogComments {
  margin-bottom: 30px;
}
.blogComments .maggieComment, .blogComments .daisyComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 38px;
  background-color: white;
  margin-bottom: 20px;
}
.blogComments .maggieComment p, .blogComments .daisyComment p {
  margin: 0;
}
.blogComments .maggieComment .imgContainer, .blogComments .daisyComment .imgContainer {
  margin-right: 20px;
}

.daisyComment {
  border-bottom: 5px solid #227284;
}

/* Contact Form*/
/* Blog Comment Form */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

input {
  width: 49%;
}

/* Blog Comment Form */
/* ALL form input styling */
input, textarea {
  font-family: "Cabin", sans-serif;
  border: none;
  margin-bottom: 20px;
  padding: 15px 0 15px 15px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #171717;
  font-size: 1rem;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #171717;
  font-size: 1rem;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #171717;
  font-size: 1rem;
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #171717;
  font-size: 1rem;
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  color: #171717;
  font-size: 1rem;
  opacity: 1;
}
input:focus, textarea:focus {
  outline: none;
  border-bottom: 2px solid #227284;
}

textarea {
  resize: none;
}

@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}